$backlog-colour: govuk-colour("purple");
$discovery-colour: govuk-colour("bright-purple");
$alpha-colour: govuk-colour("pink");
$beta-colour: govuk-colour("orange");
$live-colour: govuk-colour("light-green");
$black: govuk-colour("black");
$grey-3:govuk-colour("mid-grey");
$grey: govuk-colour("mid-grey");