{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<p class="govuk-body govuk-!-margin-top-6">These are all the things we're doing.</p>

	<div class="govuk-grid-row">
		<section class="column-sixth">
			<div class="tag backlog govuk-heading-s">Backlog</div>
			<div class="big-number txt-backlog">{{ counts.backlog }}</div>
		</section>
		<section class="column-sixth">
			<div class="tag discovery govuk-heading-s">Discovery</div>
			<div class="big-number txt-discovery">{{ counts.discovery }}</div>
		</section>
		<section class="column-sixth">
			<div class="tag alpha govuk-heading-s">Alpha</div>
			<div class="big-number txt-alpha">{{ counts.alpha }}</div>
		</section>
		<section class="column-sixth">
			<div class="tag beta govuk-heading-s">Private Beta</div>
			<div class="big-number txt-beta">{{ counts.beta }}</div>
		</section>
		<section class="column-sixth">
			<div class="tag public-beta govuk-heading-s">Public Beta</div>
			<div class="big-number txt-public-beta">{{ counts['public-beta'] }}</div>
		</section>
		<section class="column-sixth">
			<div class="tag live govuk-heading-s">Live</div>
			<div class="big-number txt-live">{{ counts.live }}</div>
		</section>
	</div>

	{% for theme in themes %}
		<h2 class="heading-large govuk-heading-m service-area">{{ theme.productTheme }}</h2>
		<div class="govuk-grid-row">
			{% for status in statuses %}
				<section class="column-sixth">
					<ul class="link-list border-{{status}}">
						{% for product in products %}
							{% if (status == product.productStatus) and (theme.productTheme == product.productTheme.fields.productTheme) %}
								<li><a href="product/{{ product.key }}" class="govuk-link" >{{ product.productName}}</a></li>
							{% endif %}
					{% endfor %}
					</ul>
				</section>
			{% endfor %}
		</div>
	{% endfor %}

	<p class="govuk-body-xs govuk-!-margin-top-9">Last updated 19th May 2020.<p>

</main>

{% endblock %}
