{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;" class="govuk-body">
		These are all the things we're doing, <a href="/">order by theme</a> or <a href="/location/">order by location</a></p>

	<div class="govuk-grid-row">
		<section class="column-fifth">
			<div class="tag backlog govuk-heading-m">Backlog</div>
			<div class="big_number txt-backlog">{{ counts.backlog }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag discovery govuk-heading-m">Discovery</div>
			<div class="big_number txt-discovery">{{ counts.discovery }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag alpha govuk-heading-m">Alpha</div>
			<div class="big_number txt-alpha">{{ counts.alpha }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag beta govuk-heading-m">Beta</div>
			<div class="big_number txt-beta">{{ counts.beta }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag live govuk-heading-m">Live</div>
			<div class="big_number txt-live">{{ counts.live }}</div>
		</section>
	</div>

	{% for theme in themes %}
		<h2 class="heading-large govuk-heading-m service-area">{{ theme.productTheme }}</h2>
		<div class="govuk-grid-row">
			{% for status in statuses %}
				<section class="column-fifth">
					<ul class="link-list border-{{status}}">
						{% for product in products %}
							{% if (status == product.productStatus) and (theme.productTheme == product.productTheme.fields.productTheme) %}
								<li><a href="product/{{ product.key }}" class="govuk-link" >{{ product.productName}}</a></li>
							{% endif %}
					{% endfor %}
					</ul>
				</section>
			{% endfor %}
		</div>
	{% endfor %}

	<p style="margin-top: 100px" class="govuk-body-xs">Last updated 17th Oct 2018.<p>

</main>

{% endblock %}
