{% extends "layout.html" %}
{% block content %}
<main id="content" role="main">
	<h1 class="govuk-heading-l" style="margin-bottom:15px;">{{ product.productName }}</h1>
	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">
			<p class="govuk-body">{{ product.productDescription }}</p>
			<div class="location govuk-body">Based in <strong>{{ product.teamLocation }}</strong></div>
			<h2 class="govuk-heading-m">Project history</h2>
		</section>
		<section class="govuk-grid-column-one-third">
			<div class="phase-circle">
				<p class="circle {{ product.productStatus | lower }}"></p>
				<p class="circle-label govuk-body">{{ product.productStatus | title }}</p>
			</div>
			<hr />
			<h3 class="govuk-heading-s">Service Owner</h3>
			<p class="govuk-body">{{ product.serviceOwner | default('Not set') }}</p>
			<h3 class="govuk-heading-s">Product Owner</h3>
			<p class="govuk-body">{{ product.productOwner | default('Not set') }}</p>
			<hr />
		</section>
	</div>
</main>
{% endblock %}
